html{
    scroll-behavior:smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}


#header {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-left: 1.1em;
    margin-right: 1.1em;
    background-color: rgba(255,255,255,.9);
    height: 40px;
    position: sticky;
    top: 0;
}

#about{
    margin: 15px 0px 15px 15px;
    padding:5px 0px 5px 5px;
    font-size: 1em;
    
}


#info {
    font-family: 'Raleway', sans-serif;
    float: right;
    text-align: left;
    vertical-align: central;
    width:40%;
    margin-right: 200px;
    margin-top:50px;
    height: 300px;
    font-size: 19px;
}

#spheres{
    margin-left: 35px;
}

img{
    width:35%;
    height: auto;
    margin-top: 30px;
}

#projects {
    margin: 15px;
    border: 40px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.2em
}

#aws{
    text-align: center;
    margin:1em;
    text-decoration:underline;
}

#resume{
    height: 200px;
}

h1{
    margin:0;
}

#project_text{
    margin: 1.3em 1.2em 1.2em 0em;
}

#resume {
    margin: 15px;
    border: 40px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.2em
}

#resume_text {
    margin: 1.3em 1.2em 1.2em 0em;
}

body {
    margin-left: 0;
    margin-right:0;
    margin-top: 0;
   
}

#name{
    font-size: 1.2em;
    float: left;
}

#navigation{
    font-size: 18px;
    float: right;
}

#aurora{
    margin: 5px 25px 25px 40px;
    margin:
    border: 40px;
    padding: 40px;
    border-top:0;
    padding-top:0;
    width: 50%;
    height: auto;
}

#certs{
    width:fit-content;
    text-align:center;
    margin: 20px;
}

.certimg{
    width: 10%;
    height:auto;
    display: inline;
    margin-left: auto;
    margin-right:auto;

}



.personalimg {
    width: auto;
    height: 12.8em;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

#cloudprac{
    
}

#description{
    float: right;
    width: 30%;
    margin: 30px 40px 10px 10px;
    padding: 30px 40px 10px 10px;
    border: 15px;
    vertical-align: center;
}

ul {
    list-style-type:none;
}

li{
    display: inline;
}

li a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
    color: white;
}