#header {
    color: black;
    font-family: 'Comfortaa', cursive;
    margin: 15px;
}

body {
   
}

#name{
    font-size: 20px;
    float: left;
    margin-top:-20px;
}

#navigation{
    font-size: 18px;
    float: right;
}

ul {
    list-style-type:none;
}

li{
    display: inline;
}

li a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
    color: white;
}